@charset "utf-8";

ul{
   list-style:none;    
}    

#top{
   color: tomato;
}
    
    
.text-center{
    text-align: center;
}

.box1{
    width: 100%;
    float: left;
    height: 100px;
    background-color: aqua;
}
.box2{
    margin-left: 0%;
    width: 100%;
    float: left;
    height: 100px;
    background-color: yellow;
}
.box3{
    clear: left;
    height: 100px;
    background-color: chartreuse;
}
.maroon{
    color: maroon;
}

.red{
    color: red;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 1.5em; 
    color: crimson;
}

h3{
    font-size: 1.2em; 
    color: hotpink;
}

li{
    font-size: 2em;
    color: darkblue;
}

dt{
    font-size: 1.5em;
    color: darkslategrey;
}

a:hover{
    font-size:2em; 
}

a:link{
    color: black;
}

a:visited{
    color: brown;


