@charset "utf-8";

/*要素セレクタ*/
ul{
/* 行頭文字を変更するプロパティ */
   list-style:none;    
}    

table, td{
    border: tpx solid #000;
}
/*IDセレクタ */
#top{
   color: crimson;
}

#id-1{
    color: darkmagenta;
}


/*クラスセレクタ */
.text-center{
    text-align: center;
}

.red{
    color: red;
}

/*複数のセレクタを同時に指定する*/
h1,.red{
/* font-size: 3em; */
}

/*子孫セレクタ(HTMLタグの階層構造を指定できる)*/
nav li .green{
/* font-size: 3em;*/
    color: green;
}

/*子セレクタ(HTMLタグのより厳密な階層構造を指定できる)*/
div > ul >.blue{
    list-style: circle;
    color: blue;
}

/*隣接セレクタ(同じ階層で直後に隣接している要素を指定できる)*/
p+p{
/* font-size: 2em;*/
}



/*応用的なセレクタ*/
/*疑似クラス*/

/*要素内の最後の子要素*/
tr:first-child{
    background-color: red;
}

tr:last-child{
    background-color: blue;
}

tr:nth-child(odd){
    background-color: green;
}

tr:nth-child(even){
    background-color: purple;
}

/*カーソルが載っている要素*/
a:hover{
    font-size:3em; 
}

/*未訪問のリンク*/
a:link{
    color: black;
}

/*訪問済みのリンク*/
a:visited{
    color: black;
}

h1:hover{
    font-size: 4em;
}